<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div :style="{width: monsterHealthPercentage}" class="healthbar__value"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div :style="{width: playerHealthPercentage}" class="healthbar__value"></div>
        </div>
      </section>
      <section id="log" class="container" v-if="gameOver">
        <h2 v-show="gameOver">Game Over</h2>
        <h3 :class="winStatusClasses">
          {{winStatus}}
        </h3>
        <button @click="restartGame()">Restart</button>
      </section>
      <section v-show="takeAction" id="controls" v-else>
        <button @click="attackToMonster()">ATTACK</button>
        <button :disabled="specialAttackReady" @click="specialAttackToMonster()">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <span v-if="logs.length===0">Player meet a monster</span>
        <ul v-for="log in logs">
          <li>
            <span :class="'log--'+log.logActor">{{log.logActor}}&nbsp</span>
<!-- 
            <span v-if="log.logAction=='damage'">attack, deal </span>
            <span v-else-if="log.logAction=='specialAttack'">use Special Attack, deal </span>
            <span v-else-if="log.logAction=='enemyCrit'">angry, deal </span>
            <span v-else-if="log.logAction=='heal'">heal, recover </span>
            <span v-else>decide to get away</span>
            

            <span :class="" v-if="log.logAction=='damage'">{{log.logValue}} damage</span>
            <span v-else-if="log.logAction=='specialAttack'">{{log.logValue}} damage</span>
            <span v-else-if="log.logAction=='enemyCrit'">{{log.logValue}} critical damage</span>
            <span :class="'log--'+log.logAction" v-else-if="log.logAction=='heal'">{{log.logValue}} HP</span> -->

            <span v-if="log.logAction=='damage'">
              attack, deal 
              <span :class="'log--damage'" >{{log.logValue}} damage</span>
            </span>
            <span v-else-if="log.logAction=='specialAttack'">
              use Special Attack, deal 
              <span :class="'log--damage'" >{{log.logValue}} damage</span>
            </span>
            <span v-else-if="log.logAction=='enemyCrit'">
              angry, deal 
              <span>{{log.logValue}} critical damage</span>
            </span>
            <span v-else-if="log.logAction=='heal'">
              heal, recover 
              <span :class="'log--heal'">{{log.logValue}} HP</span>
            </span>
            <span v-else>decide to get away</span>
            
            
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
